<table>
  <tr>
    <td>
      <b>creator</b> 
    </td>
    <td>
      {{ event.creator }}
    </td>
  </tr>
  <tr>
    <td>
      <b>START:</b>
    </td>
    <td>
      {{ event.start }}
    </td>
  </tr>
{#  <tr>
    <td>
      <b>END:</b>
    </td>
    <td>
      {{ event.end }}
    </td>
  </tr>
#}
  <tr>
    <td>
      <b>LOCATION:</b>
    </td>
    <td>
      {{ event.location }}
    </td>
  </tr>
  <tr>
    <td>
      <b>SUMMARY:</b>
    </td>
    <td>
      {{ event.summary }}
    </td>
  </tr>
</table>
<br>

{# add weekday, remove timezone info #}