<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
      <!-- google/analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32898836-1']);
      _gaq.push(['_trackPageview']);

      (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/water.ico')}}">
      {% block head %}{% endblock %}
  </head>


  <body>
    <div id="container">
    <header id="the_header">
      HERE IS THE TESTLAB USAGE STATISTICS
      {% block header %}{% endblock %}
    </header>

    <nav id="the_nav">
      {% block nav %}{% endblock %}
    </nav>

    <section id="the_section">
      {% block section %}{% endblock %}
    </section>

    {% block special_section %}{% endblock %}

    {% block aside %}{% endblock %}

    <footer id="the_footer">
	<hr/>
	<div class="copyright">
	<p>If you see anything wierd on this page, please contact
	<a href="mailto:test[@]gmail.com">Test User</a>, Thanks!</p>
	</div>
    </footer>
    </div> <!-- ending tag of the container div -->
  </body>
</html>
